html {
  scroll-behavior: smooth;
}

nav {
    color:white;
    font-family:'Roboto Mono', monospace;
    position: sticky;
  }
a {
    position: sticky;
    color:white;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration:underline;
    font-weight: bold;
    color: #0fa;
    
  }
  a:active {
    text-decoration: none;
  }

h1 {
    font-weight:normal;
    color:#FFFFFA;
    font-family:'Pirata One', cursive;
    font-size:100pt;
    text-align:center;
  }

.neonText {
    color :#fff;
    animation: flicker 1s infinite alternate;
}

body {
    background-color:#090B0B;
  }

#subhead {
  text-align:center;
}

.important_head {
  display:inline;
}

.less_head {
  display:inline;
  color:#272727;
}

h2 {
    font-weight:normal;
    font-size: 36px;
    color:#FFFFFA;
    text-align:center;
    font-family: 'Staatliches', sans-serif;
  }
h3 {
    font-weight:normal;
    font-size: 30px;
    color:#FFFFFA;
    text-align:left;
    padding-left: 200px;
    font-family: 'Staatliches', sans-serif;
}

p {
    font-family: 'Heebo',sans-serif;
    font-size: 24px;
    color:#FFFFFA;
    padding-left: 200px;
    padding-right: 200px;
}

.list {
    font-family: 'Heebo',sans-serif;
    font-size: 24px;
    color:#FFFFFA;
    padding-left: 200px;
    padding-right: 200px;
}

#intro {
    text-align: center;
}

#AWLQPreview {
    background-image: url(img/AWLQMock.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 500px;
    width: 70%;
    margin: auto;
}

.neonSub {
    text-shadow:
    0 0 4px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 100px #0fa;
}

.flickering {
    color :#fff;
    animation: flicker 1.3s infinite alternate;
}

.flickering2 {
    color :#fff;
    animation: flicker 1s infinite alternate;
}

#LHPreview {
    background-image: url(img/LH/LHMock.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 500px;
    margin-right: 200px;
    
}

.outs {
    color:white;
    font-family:'Roboto Mono', monospace;
    font-size: 16px;
}

.quote {
  font-family: 'Heebo',sans-serif;
  font-size: 36px;
  font-style: italic;
  text-align: center;
  color:#FFFFFA;
 
}


form {
    display: block;
    color: #fff;
    font-family: "Staatliches", sans-serif;
    font-size: 24px;
    height: 500px;
    text-align: center;

}

input {
    width: 60%;
    font-size: 20px;
}

.sub {
    width: 30%
}

textarea {
    width: 60%;
    height: 20%
}

footer {
    display: block;
    color:#212121;
    text-align: center;
}

.leftAlign {
    text-align: left;
    margin-right: 80px;
}

.rightAlign {
    text-align: right;
    margin-left: 200px;
}

.rightAlignH3 {
    text-align: right;
    margin-right: 200px;
}

#contact {
  padding-left: 45vw;
  padding-right: 45vw;
  padding-bottom: 40px;
}

#contactMob {
  display: none;
}

.sub {
    border-radius: 20px;
    color: #090B0B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 200px;
}

#details {
  text-align: center;

}

@keyframes flicker{

    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    
    20%, 24%, 55% {
        text-shadow: none;
    }

}


/*WORK PAGES*/

.beforeGif {
    background-image: url(./img/AWLQ/oldSite.gif);
    background-size: contain;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.catLady {
    background-image: url(./img/AWLQ/AWLQPersona.png);
    background-size: contain;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .statements {
    background-image: url(./img/AWLQ/AWLQStatements.gif);
    background-size: contain;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .moodBoard {
    background-image: url(./img/AWLQ/AWLQMood.gif);
    background-size: contain;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .styleGuide {
    background-image: url(./img/AWLQ/AWLQStyle.gif);
    background-size: contain;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .lowFi {
    background-image: url(./img/AWLQ/AWLQLoFi.gif);
    background-size: contain;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .hiFi {
    background-image: url(./img/AWLQ/AWLQHiFi.gif);
    background-size: contain;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .postTest {
    background-image: url(./img/AWLQ/AWLQPostTest.png);
    background-size: contain;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
  }


  .LHAffinity {
    background-image: url(../img/LH/LHAffinity.gif);
    background-size: contain;
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;    
  }

  .LHPersona {
    background-image: url(../img/LH/LHPersona.png);
    background-size: contain;
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;    
  }

  .LHProblems {
    background-image: url(../img/LH/LHProblems.gif);
    background-size: contain;
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;    
  }

  .LHLike {
    background-image: url(../img/LH/LHLike.png);
    background-size: contain;
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;    
  }
  
  .LHMatrix {
    background-image: url(../img/LH/LHMatrix.png);
    background-size: contain;
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;    
  }

  .LHLofi {
    background-image: url(../img/LH/LHLofi.gif);
    background-size: contain;
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;    
  }

  .LHHifi {
    background-image: url(../img/LH/LHProtoPreview.png);
    background-size: contain;
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;   
  }

  .LHTest {
    background-image: url(../img/LH/LHTest.gif);
    background-size: contain;
    height: 500px;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;  
  }

/* MOBILE RESPONSIVE*/

@media all and (max-width: 500px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 25px;
  }

  .quote {
    font-family: 'Heebo',sans-serif;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color:#FFFFFA;
  }

  p {
    font-size: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  ul {
    font-size: 15px;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  li {
    font-size: 15px;
  }

  .list {
    font-family: 'Heebo',sans-serif;
    font-size: 15px;
    color:#FFFFFA;
    padding-left: 30px;
    padding-right: 30px;
}
  .subs {
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .neonSub {
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 25px;
  }

  .leftAlign {
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .rightAlignH3 {
    text-align: center;
  }
  .rightAlign {
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .outs {
    font-size: 12px;
    
  }

  #AWLQPreview {
    height: 200px;
  }

  #LHPreview {
    margin-left: 20vw;
    margin-right: 20vw;
    height: 200px;
  }

  #contact {
    display: none;
  }

  #contactMob {
    display: block;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
  }



}


